.frost-area {
    position: absolute;
    width: 380px;
    min-height: 100%;
  }

  .frost-circle {
    pointer-events: none;
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .frost-bolt {
    pointer-events: none;
    z-index: 99;
    position: absolute;
  }
  
  .snow-ball {
    opacity: 0;
    position: absolute;
    background-position: -826px 160px;
    background-size: 1240px 570px;
    width: 104px;
    height: 115px;
    background-image: url('https://res.cloudinary.com/igocooper/image/upload/v1570644308/ice-mage_q5jiea.png');
  
    &.one {
      left: 0;
      top: 5%;
    }
  
    &.two {
      left: 33%;
      top: 12%;
    }
  
    &.three {
      left: 66%;
      top: -4%;
    }
  
    &.four {
      left: 16%;
      top: 1%;
    }
  
    &.five {
      left: 56%;
      top: 0;
    }
  }
  
  
  .frost-area.snow-balls-attack.active {
    .snow-ball {
      opacity: 1;
      z-index: 999;
      transition: top 1s cubic-bezier(0.58, 0.04, 0.25, 1), rotate 1s ease, opacity 1s ease;
  
      &.one {
        top: 80%;
        transform: translate(0, -100%) rotate(35deg);
      }
  
      &.two {
        left: 33%;
        top: 80%;
        transform: translate(0, -100%) rotate(-52deg);
      }
  
      &.three {
        left: 66%;
        top: 80%;
        transform: translate(0, -100%) rotate(95deg);
      }
  
      &.four {
        left: 16%;
        top: 60%;
        transform: translate(0, -100%) rotate(204deg);
      }
  
      &.five {
        left: 56%;
        top: 55%;
        transform: translate(0, -100%) rotate(113deg);
      }
    }
  }

  .frost-area.frost-circle-attack.active {
    .frost-circle {
      animation: frost-circle .55s linear .1s 1 forwards;
    }
  }

  .frost-bolt {
    opacity: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    transition: transform .5s ease-out; 
  }

  .frost-bolt.active {
    opacity: 1;
    animation:
      ice-attack .5s linear .1s 10000 forwards;
  }

  @keyframes frost-circle {
    0%   {background-image: radial-gradient(#2265ceab 0%, #40a2e8e0 2%, transparent 12%);}
    12%  {background-image: radial-gradient(#2265ceab 5%, #40a2e8e0 10%, transparent 30%);}
    25%  {background-image: radial-gradient(#2265ceab 10%, #40a2e8e0 23%, transparent 40%);}
    37%  {background-image: radial-gradient(#2265ceab 20%, #40a2e8e0 36%, transparent 50%);}
    50% {background-image: radial-gradient(#2265ceab 40%, #40a2e8e0 54%, transparent 70%);}
    62% {background-image: radial-gradient(#2265ceab 20%, #40a2e8e0 36%, transparent 50%);}
    75% {background-image: radial-gradient(#2265ceab 10%, #40a2e8e0 23%, transparent 40%); opacity: 1;}
    88% {background-image: radial-gradient(#2265ceab 5%, #40a2e8e0 10%, transparent 30%); opacity: 0.5;}
    100% {background-image: radial-gradient(#2265ceab 0%, #40a2e8e0 2%, transparent 12%); opacity: 0.1;}
  }

  @keyframes ice-attack {
    0%   {background-image: radial-gradient(#4cdbff9e 0%, #86e7ffcc 2%, transparent 12%);}
    12%  {background-image: radial-gradient(#4cdbff9e 5%, #86e7ffcc 10%, transparent 30%);}
    25%  {background-image: radial-gradient(#4cdbff9e 10%, #86e7ffcc 23%, transparent 40%);}
    37%  {background-image: radial-gradient(#4cdbff9e 20%, #86e7ffcc 36%, transparent 50%);}
    50% {background-image: radial-gradient(#4cdbff9e 40%, #86e7ffcc 54%, transparent 70%);}
    62% {background-image: radial-gradient(#4cdbff9e 20%, #86e7ffcc 36%, transparent 50%);}
    75% {background-image: radial-gradient(#4cdbff9e 10%, #86e7ffcc 23%, transparent 40%); opacity: 1;}
    88% {background-image: radial-gradient(#4cdbff9e 5%, #86e7ffcc 10%, transparent 30%); opacity: 0.5;}
    100% {background-image: radial-gradient(#4cdbff9e 0%, #86e7ffcc 2%, transparent 12%); opacity: 0.1;}
  }