.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.troop {
  display: flex;
  flex-wrap: wrap;
  max-width: 306px;
}

.character {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #ededed;
  background: url("https://cdn.imgbin.com/4/17/13/imgbin-pixel-art-knight-knight-vYUQv6SQ2sQ3CHsLs2y11qYz1.jpg");
  background-size: 135px;
  background-repeat: no-repeat;
  background-position: center;


  // background: url("https://image.shutterstock.com/image-vector/skeleton-archer-game-character-creating-260nw-780817966.jpg");
  // background-size: 225px;
  // background-repeat: no-repeat;
  // background-position: -110px 5px;

  &.doom-knight {
    background: url("http://pixelartmaker.com/art/4d757c438cc4f1a.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.archer {
    background: url("http://pa1.narvii.com/6923/0082a09d22e77631d8ddb45ab0a1e4aa3fe86492r1-512-512_00.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.knight {
    background: url("https://cdn.imgbin.com/8/4/22/imgbin-knight-pixel-art-cartoon-knight-tJtV1qa0bJm8ED9qevuHtPTjy.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.mage {
    background: url("https://i.imgur.com/ANhvnbE.gif");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center -15px;
  }

  &.boss {
    background: url("https://i.kinja-img.com/gawker-media/image/upload/s--zB-ij9px--/c_scale,f_auto,fl_progressive,q_80,w_800/1454745043845887271.gif");
    background-size: 141px;
    background-repeat: no-repeat;
    background-position: -33px -8px;
  }
  &.skeleton-archer {
    background: url("https://cdna.artstation.com/p/assets/images/images/017/478/024/original/eugene-chistyak-skeleton-archer-idle.gif?1556137290");
    background-size: 331px;
    background-repeat: no-repeat;
    background-position: -117px -65px;
  }

  &:before {
    position: absolute;
    top: 0;
    content: attr(data-health);
    font-weight: 600;
    color: red;
  }
}
