.cursor-sword {
    cursor: url("../images/cursors/cursor-sword.png"), auto;
}

.cursor-default {
    cursor: url("../images/cursors/cursor-default.png"), auto;
}

.cursor-disabled {
    cursor: not-allowed;
}

.cursor-bow {
    cursor: grab;
}